#editor {

  .s-toolbar {
    max-width: 1000px;
    padding: 7px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px 5px 0 0;
    background-color: rgba(0, 0, 0, .2);
  }
}